body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, #331BFA, #5817E6, #B31CE6);
    height: 100vh;
}

.container__img{
    display: flex;
    justify-content: center;
   
}

.iniciar{
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    left: 2%;
    top: 2%;
    padding: 10px;
    background: radial-gradient(rgba(0, 0, 0, 0.645), transparent);
    border-radius: 5px;
    color: white;
    text-shadow: 0 0 1px red;
    
}


.letras{
    display: flex;
    margin: 2rem auto;
    justify-content: center;

  
}

.letras > div{
    border-bottom: 2px solid;
    margin: auto 4px;
    font-size: 1.6rem;
    font-weight: bold;
    text-shadow: 0 0  4px white;

}



.alfabeto{
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.alfabeto > div{
    
    font-family: monospace;
    font-weight: bold;
    margin: 5px;
    padding: 7px 10px;
    box-shadow: 3px 3px 3px ;
    border-radius: 5px;
    border: 2px solid;
    font-size: 1.2rem;

    background-color: #6495ed;
}

.alfabeto > div:hover{
    background-color: cornsilk;
}

.perdeu{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background: radial-gradient(rgba(0, 0, 0, 0.898), transparent);
    border-radius: 20px;
    color: white;
    text-shadow: 0 0 1px red;
    border: 2px solid;
    display: none;
}
.reiniciar{

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 13px;
    width: 100%;
    background: radial-gradient(rgb(0, 0, 0), transparent);
    border-radius: 10px;
    color: white;
    text-shadow: 0 0 1px red;
    
    

}

.ganhou{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background: radial-gradient(rgba(0, 0, 0, 0.898), transparent);
    border-radius: 20px;
    color: white;
    text-shadow: 0 0 1px red;
    border: 2px solid;
    display: none;
}

.resposta{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    position: absolute;
    left: 50%;
    top: 83%;
    transform: translate(-50%, -50%);
    padding: 8px;
    background: radial-gradient(#B31CE6, #b41ce6bb, transparent);
    border-radius: 20px;
    color: white;
    text-shadow: 0 0 1px red;
    border: 2px solid;
    display: none;
    
}

.rodape{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size:1rem;
    font-weight: bolder;
    position: absolute;
    right: 1%;
    top: 1%;
    
    background-color: rgba(0, 0, 0, 0.213);
    border-radius: 6px;
    padding: 0 3px;
    text-shadow: 1px 1px 1px rgba(255, 235, 205, 0.556);

}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 10px ;
}